body {
    background-color: grey;
}

.box {
    background-color: white;
    margin: 0 auto;
    height: 150px;
    width: 500px;
    border-bottom: 5px solid green;
    border-top: 5px solid green;
    margin-bottom: 5px;
}

.box.head {
    text-align: center;
    height: 300px;
}

.head-body {
    display: flex;
}

.head-body p {
    justify-content: center;
    width: 50%;
    padding: 20px;
}

.head-body img {
    width: 150px;
    height: 150px;
    padding-left: 100px;
    padding-right: 50px;
}

.box.body {
    padding: 20px 0;
}

.box.body h2, h4, p {
    padding: 0 10px;
}

.ingredients, .directions {
    height: 250px;
}

.box.body ol {
    padding-right: 40px;
}

.box.body li {
    padding-top: 5px;
}

#crepes-directions {
    height: 300px;
}